* {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
nav > ul > li {
    display: inline-block;
    list-style: none;
    color: black;
    margin: 10px 5px;
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: white 1px solid;
    border-radius: 5px;
}
header > h2, nav {
    display: inline-block;
}
nav {
    float: right;
}
header > h2 {
    margin: 10px 10px;
    color: white;
}
header {
    background-color: #82C0CC12;
    padding: 10px;
    border: 0.5px solid white;
    border-top-color: black;
    position: sticky;
    top: 0;
}

#HomePage, #AboutPage, #ProjectsPage{
    min-height: 100vh;
    padding: 20px;
    scroll-margin-top: 69px;
}

#ContactPage {
    min-height: 92vh;
    padding: 20px;
    scroll-margin-top: 69px;
}
body { 
    background: linear-gradient(#102542,#F87060);
    color: white;
    font-family: 'Poppins', sans-serif;
}
#HomePage {
    margin: 0 auto;
    padding: 20px;
}
#HomePage > h2{
    margin: 0  0 10px 0;
}
#HomePage > p, #HomePage > img {
    margin: 5px 0;
}